body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}


header.name {
    text-align: left;
    margin-top: 40px;
    font-size: 26px;
    font-weight: bold;
    margin-left: 150px;
    margin-right: -50px;
    color: #fff;
    background-color: #434343;
    padding: 0px 20px;
    padding-left: 50px;
    padding-right: 10px;
    border-radius: 50px 30px 30px 50px;
}

.first-name {
    color: #fff;
    padding-right: 100px;
}

.last-name {
    color: #fff;
    font-weight: lighter;
    padding-right: 90px;
    padding-bottom: 10px;
    
}

.first-name, .last-name {
    display: inline-block;
    vertical-align: middle;
}


p.specialization {
    text-align: center;
    font-size: 20px;
    color: #434343;
    margin-top: 0px;
    margin-right: 100px;
    margin-bottom: 0px;
}


p.contact-me {
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: -5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #faf6f6;
    background-color: #ce4ff2; 
    border-radius: 50px; 
    padding: 5px 70px; 
    display: inline-block; 
    margin-left: 250px;
}



.contact-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.contacts {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    position: relative;
    margin-left: 200px;
}

.contacts li {
    margin-bottom: 20px;
    position: relative;
    padding-right: 0;
}

.contacts::before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 20px;
    right: -15px;
    width: 1px;
    background-color: #333;
}

.contacts li::after {
    content: '';
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 2px solid #a944ec;
    border-radius: 50%;
    background-color: white;
}

.contact-text {
    font-size: 12px;
    color: #333;
}

.contact-me {
    text-decoration: none;
    background-color: #a944ec;
    color: white;
    padding: 0px 20px;
    border-radius: 25px;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    margin-bottom: 0px;
}


.image-wrapper {
    position: relative;
    display: inline-block;
    border-radius: 200px; 
}


.profile-image {
    display: block;
    width: 80%;
    transform: scale(1.9);
    height: 80%;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    padding:5px;
    margin-top: -5px;
    margin-left:15px ;
    border-color: #fff;
    border:3px solid white;
    border-style: solid
    ;
}


 .image-wrapper::before {
     content: '';
     position: absolute;
     top: 0px;
     left: 0px;
     right: 50px;
     bottom: 0px;
     border:90px solid;
     border-color: #ce4ff2;
     border-top-right-radius: 200px;
     border-bottom-right-radius: 200px;
     border-top-left-radius: 200px;
     z-index: -2; 
     height: 230px;
     transform: scale(1.5);
     margin-top: -30px;
     margin-left:65px;
}


.image-wrapper::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 0px;
    right: 50px;
    bottom: 0px;
    border:90px solid;
    border-color: #d1d1d1;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    z-index: -1; 
    transform: scale(1.5);
    margin-top: 12px;
    margin-left:25px;
}

#briefcase{
    color:#a944ec;
    margin-right: 25px;

}
.experience{
    font-weight: bold;
   
    font-size: 30px;
    margin-left: 100px;
    margin-top: 20px;
}


.experience-list {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    margin-left: 120px;

 
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}
.experience-list.show {
    opacity: 1;
    max-height: 500px;
    max-width: 500px; 
}

.experience-list-item {
    position: relative; 
    padding-left: 20px; 
    margin-bottom: 20px;
}

.experience-list-item::before {
    content: "";
    position: absolute;
    left: -5px; 
    top: 30px;
    bottom: -10px;
    width: 1px; 
    background-color: black; 
    margin-left: 12px;
}


.experience-list-item:last-child::before {
    top: 30px; 
    bottom: auto;
    height: 65%; 
    
}

.experience-list-item::after {
    content: "";
    position: absolute;
    left: -12px; 
    top: 0.4em;
    width: 15px; 
    height: 15px;
    background-color: white; 
    border-radius: 50%; 
    border: 2px solid #a944ec;
    box-sizing: border-box; 
    margin-left: 12px;
    margin-top: 3px;
}

.job-title {
    font-weight: bold;
    font-size: 1.2em;
    color: #a944ec;
    
}

.job-details {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color: #a944ec;
    
}

.company-name {
    color: #333;
    font-weight:bold;
    margin-top: -10px;
}

.job-years {
    margin-right: 150px;
    text-align: right;
    margin-top: -10px;
}

.job-text {
    margin-top: 5px;
}

#skill-logo{
    color:#a944ec;
    margin-right: 25px;
    padding-left: 100px;
    
}

.skill-list {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    margin-left: 120px;

    /* Початкові значення для анімації */
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.skill-list {
    opacity: 1;
    max-height: 500px; /* Достатня висота для вмісту */
}

.skill-list-item {
    position: relative; 
    padding-left: 20px; 
    padding-right: -40px;
    margin-bottom: 20px;
}
.skill-list-item::after {
    content: "";
    position: absolute;
    left: -10px; 
    top: 0.4em;
    width: 8px; 
    height: 8px;
    background-color: white; 
    border-radius: 50%; 
    border: 1px solid black;
    box-sizing: border-box; 
}

.progress-bar {
    appearance:initial; 
    height: 7px; 
    border-radius: 5px ; 
    background-color: #19538d; 
}

.progress-bar::-webkit-progress-value {
    background:#a944ec; 
    background-color: #f3cdff;
    border-radius: 5px; 
    margin-right: 20px;
}

.slider {
    position: absolute; 
    width: 13px; 
    height: 13px; 
    background-color: #a944ec; 
    border-radius: 2px; 
    top: 2.5px; 
    left: calc(40% - 7.5px); 
    transition: left 0.3s ease; 
    margin-left: 170px;
    margin-top:3px;
}
.second-slider {
    position: absolute; 
    width: 10px;
    height: 7px; 
    background-color: #a944ec; 
    border-radius: 5px; 
    top: 2.5px; 
    transition: left 0.3s ease; 
    margin-left: 180px;
    margin-top:6px;
    left: calc(43% - 7.5px); 
    
}

.about-me{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 330px;
    padding-top: 10px;
    padding-bottom: 100px;
    text-transform: uppercase;
    font-weight: bold;
    color: #faf6f6;
    background-color: #ce4ff2; 
    border-radius: 50px; 
    padding: 5px 70px; 
    display: inline-block; 
    
}

.about-me-text{
    
    text-align: right;
    margin-right: 50px;
}

#education-icon{
    color:#a944ec;
    padding-left: 25px;
}

.education{
    margin-left: 290px;
}

.education-list {
    list-style: none;
    padding: 0;
    position: relative;
    text-align: right;
    margin-right: 50px;

    
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.education-list.show {
    opacity: 1;
    max-height: 500px; 
    max-width: 1000px;
}

.education-list-item {
    position: relative;
    padding-left: 20px; 
    margin-bottom: 20px;
    margin-right: 10px;
}

.education-list-item::before{
    content: "";
    position: absolute;
    left: -12px; 
    top: 0.4em;
    width: 15px; 
    height: 15px;
    background-color: white; 
    border-radius: 50%; 
    border: 2px solid #a944ec;
    box-sizing: border-box; 
    margin-left: 580px;
    margin-top: -1px;
}

.education-list-item::after {
    content: "";
    position: absolute;
    top: 25px; 
    right: 0;
    bottom: -10px; 
    width: 1px;
    background-color: black; 
}

.education-list-item:last-child::after {
    bottom: 5px; 
}


.education-title{
    color: #a944ec;
    margin-right: 10px;
}
.education-details,

.university-name{
    color:black;
    margin-right: 5px;
}

.education-years{
    color: #a944ec;
    margin-right:70px;
    text-align: left;
}
.education-text {
    padding-right: 10px; 
    padding-top: 10px;
}

.footer {
    background-color: #434343;
    color: white; 
    padding: 20px; 
    border-radius: 100px;
    width: 800px;
    height: 180px;
    position: relative;
    margin-left: 200px;
}
.footer h1 {
    color: #a944ec;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
}

#hobbies {
    margin-right: 50px;
}

#references {
    margin-left: 40px;
}

.hobbies-list {
    padding: 0;
    text-align: right;
    margin-right: 450px;
    font-size: 15px;
    list-style: none;
    position: relative;
}


.hobbies-item::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px; 
}

.references-list {
    list-style: none;
    margin-left: 370px;
    margin-top: -80px;
}

.references-item {
    margin: 10px 0; 
}


.line-divider {
    position: absolute;
    top: -30px;
    bottom: 30px;
    left: 50%;
    width: 2px;
    background-color: white;
    margin-top: 60px;
    margin-left: -20px;
}


.arrow{
    margin-left: 20px;
    
}

#experienceArrow {
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;
}

#skillsArrow {
    display: inline-block;
    cursor: pointer;
    transition: transform 0.3s; 
}

#educationArrow {
    display: inline-block;
    cursor: pointer;
}












