
$circle-color-light: rgb(210, 206, 206);
$circle-color-dark: rgb(184, 180, 180);
$circle-radius-small: 180px;
$circle-radius-large: 250px;
$margin-large: 1300px;
$margin-negative-large: -190px;
$margin-negative-small: -40px;
$margin-top-adjust: 30px;
